This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * length of different data type
    * Booleans
    * Tuples 
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* functions

we have only learned Most fundamental of Python. We will discover other interesting grammer and syntax along our journey.

- [Additionaly Resource](https://www.w3schools.com/python/) is provided for self-learning and research
- **Research** is important skill of learning any knowledge
- Since this course is not designed for Python only, you may have hard time to work/understand Python. [Additionaly Resource](https://www.w3schools.com/python/) is always the good starting point of python self-learning, and you can also contact me for additional help.

## Print

In [103]:
print("Hello! Welcome!")

Hello! Welcome!

In [104]:
print("Hello!")
print("I am Alex!")

Hello!
I am Alex!

### In-class practice:

**Using print to write an introduction and Read it out loud**

It must include your:
- name
- school
- hobby

Hello! My name is Alex Tian.
I'm currently pursuing my master's degree in Electrical Engineering at the University of Victoria.
I have a strong interest in Machine Learning and Data Analysis.
Recently, I've been working on voltage anomaly detection for Schneider Electric.
I also enjoy programming in Python and C, and I'm learning more about algorithms and statistical methods.
Looking forward to collaborating and learning more! üöÄ

## Numbers

In [9]:
1 + 1

2

In [16]:
1 * 3

3

In [16]:
1 / 2 # Division always returns float

0.5

In [24]:
2 ** 4

16

In [25]:
4 % 2

0

In [26]:
5 % 2

1

In [27]:
(2 + 3) * (5 + 5)

50

### In-class practice:

**What will be the output of 2/1? and what did you learn?**

## Variable

Variable Naming Rules:
- Case Sensitivity: Python is case-sensitive (variable and Variable are different).
- Must Start with a Letter or Underscore (_)
    - ‚úÖ my_variable, _private_var
    - ‚ùå 123variable (Invalid: Cannot start with a number)
- Can Contain Letters, Numbers, and Underscores
    - ‚úÖ var123, user_name
    - ‚ùå user-name (Invalid: Hyphens are not allowed)

In [106]:
# Can not start with number or special characters
name_of_var = 2
print(name_of_var)

2

In [107]:
x = 2
y = 3
z = x + y
print(z)

5

In [108]:
x = 'hello'
print(x)

hello

### In-class practice:

**Print and Explain the Result of Calculation(Let computer handle the calculation procedure)**
- $\frac{8}{3}$
- $3 \times 3 + \frac{3}{3 - 2}$

**Create two variables, x = 5 and y = 10. Swap their values, so x = 10 and y = 5. You can **NOT** manually assigning values**

Before Swap: x = 5 , y = 10
After Swap: x = 10 , y = 5

**Convert Temperature from Celsius to Fahrenheit**

Write a Python program that takes a temperature in Celsius 24 degree and converts it to Fahrenheit using the formula: $ F=(C√ó9/5)+32 $

24 degree in Fahrenheit is 75.2

## Comment

In [19]:
# This is a comment

In [21]:
# Think about what is the differences between
# print("2+3")
# print( 2+3 )
# what will be the output?

## f-string

In [109]:
num = 12
name = 'Sam'
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

### In-class practice:

**Replace the previous introduction with f-string:**
- name
- school
- hobby

Hello! My name is Alex Tian.
I'm currently pursuing my master's degree in Electrical Engineering at the University of Victoria.
I have a strong interest in Machine Learning and Data Analysis.
Recently, I've been working on voltage anomaly detection for Schneider Electric.
I also enjoy programming in Python and C, and I'm learning more about algorithms and statistical methods.
Looking forward to collaborating and learning more! üöÄ

## Comparison Operators

**Note**: Comparsion is not updating value. = means assign(update) value, but == means compare value

In [117]:
1 > 2

False

In [118]:
1 < 2

True

In [119]:
1 >= 1

True

In [120]:
1 <= 4

True

In [121]:
1 == 1

True

In [122]:
'hi' == 'bye'

False

In [123]:
'hi' == 'hi'

True

## Logic Operators

In [124]:
(1 > 2) and (2 < 3)

False

In [128]:
(1 > 2) & (2 < 3)

False

In [125]:
(1 > 2) or (2 < 3)

True

In [129]:
(1 > 2) | (2 < 3)

True

In [126]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [130]:
(1 == 2) | (2 == 3) | (4 == 4)

True

## if,elif, else Statements

- It's important to use the correct **indentation**

In [131]:
if 1 < 2:
    print('Yep!')

Yep!

In [132]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [133]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [134]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

### In-class practice:

**Check if a Number is Positive**

Write a Python program that takes an integer and checks if it is **positive** or **negative**.

In [135]:
number = -10 # change accordingly

The number is negative.

**Check if a Number is Even or Odd**

Write a program that checks whether an positive integer number is **even** or **odd**.

In [137]:
number = 9 # change accordingly

9 is an odd number.

**Find the Greater of Two Numbers**

Write a program that takes two numbers and prints the greater one.

In [139]:
a = 5   # change accordingly
b = 10  # change accordingly

10 is greater than 5.

**Check if a Number is Positive, Negative, or Zero**

Write a program that checks if a number is positive, negative, or zero.

In [142]:
number = 0  # change accordingly

The number is zero.

**Find the Largest of Three Numbers**

Write a program that finds the largest of three numbers.

In [144]:
a = 7
b = 12
c = 5

The largest number is 12

**Determine Leap Year**

Write a program that checks if a given year is a leap year. A year is a leap year if:
- It is divisible by 4, AND
- If it is divisible by 100, then it must also be divisible by 400.

In [146]:
year = 2024

2024 is a leap year.

## for Loops

- It's important to use the correct **indentation**

In [164]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [163]:
for i in range(0, 11, 2):
    print(i)

0
3
6
9

### In-class practice:

**Sum of Numbers from 1 to 100**

Calculate and print the sum of numbers from 1 to 100 using a for loop.

**Expected Result**: 5050

Sum: 5050

**Print Even Numbers from 1 to 20**

Write a program that prints all even numbers between 1 and 20.

2
4
6
8
10
12
14
16
18
20

**Print the Multiplication Table of a Number**

Write a program that prints the multiplication table from $5*1$ to $5*10$.

5 x 1 = 5

5 x 2 = 10

...

5 x 10 = 50

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [22]:
my_list = ['a','b','c']

In [23]:
my_list.append('d')

In [24]:
my_list

['a', 'b', 'c', 'd']

In [25]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [26]:
my_list[1:]

['b', 'c', 'd']

In [27]:
my_list[:1]

['a']

In [28]:
my_list[0] = 'NEW'

In [29]:
my_list

['NEW', 'b', 'c', 'd']

In [30]:
nest = [1,2,3,[4,5,['target']]]

In [31]:
nest[3]

[4, 5, ['target']]

In [33]:
nest[3][1]

5

In [35]:
nest[3][2]

['target']

In [34]:
nest[3][2][0]

'target'

In [159]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)

1
2
3
4
5

In [160]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [161]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

### In-class practice:

**Create and Print a List**

Create a list containing the names of five fruits and print each fruit on a new line.
- Apple
- Banana
- Cherry
- Mango
- Orange

Apple
Banana
Cherry
Mango
Orange

**Access Elements by Index**

Create a list of five numbers and print:
- The first element
- The last element
- The third element

In [149]:
numbers = [10, 20, 30, 40, 50]

First element: 10
Last element: 50
Third element: 30

**Modify a List Element**

Create a list of three colors. Change the **second** color to "**Purple**" and print the modified list.

In [151]:
colors = ["Red", "Green", "Blue"]

['Red', 'Purple', 'Blue']

**Sort a List**

Create a list of numbers and print them in ascending order.

**NOTE**: This question require to do some research in-class, and you are allowed to go to this [Web](https://www.w3schools.com/python/python_lists.asp) and looking for solution

In [153]:
numbers = [15, 2, 20, 5, 10]

Sorted numbers: [2, 5, 10, 15, 20]

**Find the Second Largest Number**

Write a program to find the second largest number in a list.

**Requirement**: using sort we have just learned

In [155]:
numbers = [10, 20, 50, 5, 2]

5

**Find the Maximum in a List**

Find the largest number in a given list.

**Requirement**: using for and if statement

In [168]:
numbers = [12, 45, 78, 23, 56, 99, 34]

Largest number: 99

## Tuples

In [177]:
t = (1,2,3)
t[0]

1

In [178]:
t[0] = 'NEW'

<class 'TypeError'>: 'tuple' object does not support item assignment

## Dictionaries

understand the concept of key and value

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### In-class practice:

**Create and Print a Dictionary**

Create a dictionary with three key-value pairs representing a person's details: "name", "age", and "city". Print each value.

- Name: Alex (change accordingly)
- Age: 8 (change accordingly)
- City: Victoria (change accordingly)

Name: Alex
Age: 8
City: Victoria

**Try to explain the output of the following code.**

**Hint**: You can check external resources on this [webpage](https://www.w3schools.com/python/python_dictionaries_loop.asp)

In [171]:
person = {
    "name": "Alex",
    "age": 8,
    "city": "Victoria"
}
for key in person:
    print(key)

name
age
city

**Loop Through a Dictionary**

Write a program that prints each key and value in a dictionary.

**Hint**: You will need to do some research on this [webpage](https://www.w3schools.com/python/python_dictionaries_loop.asp)

In [172]:
person = {
    "name": "Alex",
    "age": 8,
    "city": "Victoria"
}

name: Alex
age: 8
city: Victoria

**Find the Key with the Maximum Value**

Find the key that has the highest value in a dictionary.

**Requirement**: You are required to use if statement

In [175]:
data = {"a": 10, "b": 20, "c": 50, "d": 5}

The key with the highest value is: c

## length of Data

In [5]:
name = "Alex"
len(name)

4

In [8]:
my_list = [1,2,3,4,5]
len(my_list)

5

In [9]:
d = {'key1':'item1','key2':'item2'}
len(d)

2

In [10]:
t = (1,2,3)
len(t)

3

In [7]:
int_num = 10000
len(int_num)

<class 'TypeError'>: object of type 'int' has no len()

### In-class practice:

**Find the Length of a List**

Create a list of cities and print how many cities are in the list.

**Example**: "There are 4 cities in the list."

In [179]:
cities = ["New York", "Los Angeles", "Chicago", "Houston"]

There are 4 cities in the list.

## while Loops

- It's important to use the correct **indentation**

In [50]:
i = 1
while i < 5:
    print(i)
    i = i+1

1
2
3
4

In [51]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### In-class practice:

**Print Numbers from 1 to 10**

Write a program that prints numbers from 1 to 10 using a while loop.

1
2
3
4
5
6
7
8
9
10

**Sum of Numbers from 1 to 100**

Calculate and print the sum of numbers from 1 to 100 using a while loop.

**Expected Result**: 5050

Sum: 5050

## functions

- It's important to use the correct **indentation**

In [57]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [58]:
my_func

In [59]:
my_func()

default

In [60]:
my_func('new param')

new param

In [61]:
my_func(param1='new param')

new param

In [62]:
def square(x):
    return x**2

In [63]:
out = square(2)

In [64]:
print(out)

4

In [70]:
def test_func(a, b):
    a = a + 1
    b = b + 2
    return a,b

updated_a, updated_b = test_func(3, 4)

print(f"updated a is {updated_a} and updated b is {updated_b}")

updated a is 4 and updated b is 6

In [71]:
def test_func(a, b):
    a = a + 1
    b = b + 2
    return a,b

updated_a, updated_b = test_func(b=4, a=3)

print(f"updated a is {updated_a} and updated b is {updated_b}")

updated a is 4 and updated b is 6

### In-class practice:

**Create a Function and Call It**

Write a function greet() that prints "Hello, welcome to Python!" and call the function.

Hello, welcome to Python!

**Function with One Parameter**

Write a function greet(name) that takes a name as an argument and prints a greeting.

Hello, Alex!

**Greet a Person Using Positional Arguments**

Write a function greet(name, city) that prints a greeting using the given name and city.

**Example**: "Hello Alex, welcome to Victoria!"

Hello Alex, welcome to Victoria!

**Calculate the Area of a Rectangle**

Write a function rectangle_area(length, width) that returns the area.

Area: 50

**Check if a Number is Even or Odd**

Write a function is_even(n) that returns True if n is even and False if odd.

Is 8 even? True
Is 7 even? False

**Calculate the Power of a Number**

Write a function power(base, exponent) that calculates base raised to the power of exponent.

**Example**: $2^3 = 8$

2^3 = 8

**Function to Find the Maximum of Three Numbers**

Write a function find_max(a, b, c) that returns the largest of three numbers.

Largest number: 20

**Function to Calculate Factorial**

Write a function factorial(n) that returns the factorial of n.

Example: Factorial of 5 is $1*2*3*4*5=120$

Factorial of 5: 120